.css-hyum1k-MuiToolbar-root {
  background-color: #346c51;
  height: 10vh;
}

:where(.css-dev-only-do-not-override-3rel02).ant-pagination
  .ant-pagination-item-active:hover
  a {
  color: #346c51;
}

.logo {
  height: 9vh;
  width: 9%;
}

.menu-icon {
  color: #d0d6b5;
}

.search-icon {
  color: #d0d6b5;
}

.account-icon {
  color: #d0d6b5;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-top: 1px;
}

.search-input {
  color: black;
}

.custom-toolbar {
  background-color: #346c51;
  height: 10vh;
  min-height: 64px; /* Garante uma altura mínima em dispositivos menores */
}

.logo {
  height: 8vh; /* Ajuste a altura do logo conforme necessário */
  width: auto; /* Garante que a largura seja ajustada proporcionalmente */
}

/* Adicione outros estilos conforme necessário */
