.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;

  background-image: url("../assets/background_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.login-page h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #ffffff; 
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1em;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #346d51da; 
}

.login-form input {
  padding: 0.5em;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.login-form button {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: #ffffff; 
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #ffffff;
}

.login-form .error-message {
  background-color: #36692a;
  padding: 0.5em;
  color: #000000;
  font-weight: bold;
}

.RecuperarPassword {
  margin-top: -4px;
  color: #000;
}

.CriarConta {
  margin-top: -4px;
  color: #000;
}
